$dark-translucent: rgba(0, 0, 0, 0.9);
$dark-translucent-2: rgba(0, 0, 0, 0.75);
$dark-translucent-3: rgba(0, 0, 0, 0.6);
$light-translucent: rgba(255, 255, 255, 0.9);
$light-translucent-2: rgba(255, 255, 255, 0.75);
$light-translucent-3: rgba(255, 255, 255, 0.6);