@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";
@import "overrides";
@import "variables";
@import "theme";
@import "print";
@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/contact";

/* Globals */
* {
  // box-sizing: content-box;
  margin: 0;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.spacer-line {
  height: 1px;
  margin: 0.5rem 0;
}

/* Navbar */
i.bi.bi-moon,
i.bi.bi-zoom-in,
i.bi.bi-lightbulb-fill {
  font-size: 1.25rem;
}

@media (min-width: #{$screen-md}) {
  .d-none-md {
    display: none;
  }
}

@media (max-width: #{$screen-md}) {
  .d-none-until-md {
    display: none;
  }
}

.navbar {
  z-index: 1000;
}

/* Footer */
.footer-text {
  font-size: 0.9rem;

  &.enlarged {
    font-size: 1.1rem;
  }

  i.bi.bi-heart-fill {
    color: #dc3545;
  }
}

@media (max-width: #{$screen-sm}) {
  main {
    width: 95%;
    margin-inline: auto;
  }
}

.hover-grow {
  transition: 0.125s ease-in-out;

  @media (min-width: #{$screen-md}) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.jump-to-content {
  position: absolute;
  top: auto;
  left: -100%;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
