@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import "overrides";
@import "variables";

body {
  font-family: "Rubik", sans-serif;
}

.bg-image {
  background-image: url("../assets/img/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

.overlay {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.bg-dark-2 {
    background-color: $dark-translucent-2;
}

.bg-dark-3 {
    background-color: $dark-translucent-3;
}
