body {
    background-color: #33323b;
}

.nav-bg {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.btn-about {
  background-color: #911ec5;
  color: #fff;
}

.btn-about:hover {
  background-color: #7e1bac;
  color: #fff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-color-themed {
  color: #fff;
}
