@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Globals */
* {
  box-sizing: content-box;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

/* Navigation */
i.bi {
  font-size: 20px;
}

@media (min-width: 768px) {
  .d-none-md {
    display: none;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

/* Home */

/* Background */
.bg-image {
  background-image: url("../assets/img/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

.overlay {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

/* Main */
.name {
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 2.8rem;
}

.role {
  font-size: 1.8rem;
}

.btn-about {
  padding-inline: 50px;
  border-radius: 50px;
}

.main-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  min-width: 450px;
}


